#dev-name {
    color: darkorange;
    margin-right: 1em;
    padding: 0.4em;
    font-size: large;
    font-weight: bold;
    letter-spacing: .3em;
}

#name-div {
    color: white;
    font-weight: bolder;
    font-size: xx-large;
}

#nav-nav {
    color: darkorange;
}

.navbar-item strong {
    letter-spacing: .05em;
}

.navbar-item {
    text-decoration: none;
    margin-right: 1em;
}

@media screen and (max-width: 810px) {

    .navbar-link,
    .navbar-item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-basis: auto;
        flex-grow: 1;
        flex-shrink: 0;
    }
}